@import 'var';

.target-url {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: $system-font;
    font-size: $font-md;
    padding: $pad-md $pad-lg;
    background: $primary-dark;
    border-top-right-radius: 4px;
    color: white;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}